<% layout("/layouts/boilerplate.ejs") %>

<div class="alert alert-danger col-md-6 mx-auto offset-md-3" role="alert">
     <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg> -->
  <h3 class="alert-heading"><%= message %></h3>
</div>